@model SWEprotein.Models.LoginModel

@{
    ViewBag.Title = "Logga in";
    Layout = null;
}

<style type="text/css">
    #loginFormWrapper {
        background-color: whitesmoke;
        padding: 25px;
        margin-bottom: 20px;
    }

    .textBoxWrapper {
        margin: 0 0 10px 0;
    }
    
    .textBoxWrapper input {
        width: 115px;
    } 
</style>



<div class="img-rounded" id="loginFormWrapper">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Logga in</legend>
                <div class="textBoxWrapper">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, null, new { @class="form-control"})
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>  
                <div class="textBoxWrapper">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class="form-control"})
                    @Html.ValidationMessageFor(m => m.Password)
                </div>  
          <input type="submit" value="Logga in" class="btn btn-success btn-xs" />
               
            </fieldset>
         
                 @Html.ActionLink("Ny kund", "Register", null,  new { @class="btn btn-success btn-xs"})
         
        }
    </section>
</div>
